
.QuotesList {
  text-align: center;
  width: 80vw;
}
.QuotesList .row {
  display: flex;
  justify-content: center;
}

.Quote {
  -webkit-box-shadow: -3px -1px 5px 2px rgba(199,185,199,1);
  -moz-box-shadow: -3px -1px 5px 2px rgba(199,185,199,1);
  box-shadow: -3px -1px 5px 2px rgba(199,185,199,1);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  max-height: 25vh;
  overflow: scroll;
}
.Quote-Author {
  color: rgb(145,130,145);
  background: #dcf5ec;
  border-bottom: 1px solid #ccf0e3;
  margin-bottom: 0.5rem;
}